*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Hanken Grotesk", sans-serif;
}

body{
    position: relative;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15vh 0 0 0 ;
}

.result{
    position: relative;
    background:linear-gradient(to top,hsl(241, 81%, 54%)20%,hsl(252, 100%, 67%) )fixed; 
    padding: 50px 35px 35px 35px ;
    box-shadow: 0 10px 10px  rgba(0, 0, 0, 0.06);
    height: 25rem;
    width: 18rem;
    border-radius: 8%;
    text-align: center;
    left: 15px;
    
}

.titulo{
    margin: -20px 0 30px 0;
    color: hsl(221, 100%, 96%, 0.75);
    font-weight: 500;
}

.circulo{
    background:linear-gradient(to top, hsla(241, 72%, 46%, 0)7%,hsla(256, 72%, 46%, 1));
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin: 0 0 0 35px;
}

.numero{
    margin: -120px 0 0 0;
    font-size: 50px; 
    color: #fff;
}

.nmr-menor{
    font-size: 13px;
    color: hsl(221, 100%, 96%, 0.50);
}

.great{
    margin: 60px 0 10px;
    font-size: 23px;
    font-weight: 700;
    color: #fff;
}

.txt{
    font-size: 15px;
    color: hsl(221, 100%, 96%, 0.75);
}

/*SUMMARY*/

.summary{
    height: 25rem;
    width: 18rem;
    padding: 20px 30px 20px 40px;
    background-color: hsl(0, 0%, 100%);
    box-shadow:10px 10px 10px  rgba(0, 0, 0, 0.05);
    border-radius: 0 8% 8% 0;
}

.txt-summary{
    margin: 10px 0 0 0 ;
    font-weight: 700;
    color: hsl(224, 30%, 27%);
}

.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: 20px 0 20px 0 ;
    font-weight: 600;
    font-size: 14px;
    
    
}

.light, .brain, .talk, .eye{
    padding: 10px 0 10px 10px;
    border-radius: 5px 0 0 5px;
}
.value-reaction,.value-memory,.value-verbal,.value-visual{
    padding: 10px 0 10px 50px;
    font-weight: 700;
}

.txt-reaction,.txt-memory,.txt-verbal,.txt-visual{
    padding: 10px 10px 10px 10px;
}

.number-1,.number-2,.number-3,.number-4{
    padding: 10px 10px 10px 5px;
    border-radius:0 5px 5px 0 ;
    color:hsl(210, 1%, 63%) ;
}

.light,.value-reaction,.txt-reaction,.number-1{
    background-color:hsl(0, 100%, 67%, 0.1);
   margin-bottom: 12px;
    
}

.value-memory,.brain,.txt-memory,.number-2{
    background-color: hsl(39, 100%, 56%, 0.1);
    margin-bottom: 12px;
}

.talk,.value-verbal,.txt-verbal,.number-3{
    background-color: hsl(166, 100%, 37%, 0.1);
    margin-bottom: 12px;
}

.eye,.value-visual,.txt-visual,.number-4{
    background-color: hsl(234, 85%, 45%, 0.1);
    margin-bottom: 30px;
}

.txt-reaction{color:hsl(0, 100%, 67%);}
.txt-memory{color: hsl(39, 100%, 56%);}
.txt-verbal{color:hsl(166, 100%, 37%);}
.txt-visual{color:hsl(234, 85%, 45%);}

.btn-submite{
    padding: 10px 95px 10px 80px;
    background-color: hsl(224, 30%, 27%);
    border: none;
    border-radius: 20px;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
}

.btn-submite:hover{
    background:linear-gradient(to top,hsl(241, 81%, 54%)20%,hsl(252, 100%, 67%) ); 
}